doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    table#ftable
        thead
            tr
                th ID
                th First_Name
                th Last_Name
                th Email
        tbody
            if datas.length
                each data in datas
                    tr
                        td #{data._id}
                        td #{data.first_name}
                        td #{data.last_name}
                        td #{data.user_email}
            else
                h2 No Data in Database